[Unit]
Description=Alfred Assistant
After=network.target

[Service]
Type=simple
User=benoit
Group=audio
WorkingDirectory=/home/benoit/my-personal-assistant
ExecStart=/home/benoit/my-personal-assistant/venv/bin/python /home/benoit/my-personal-assistant/main.py
Restart=always
RestartSec=1
Environment=HOME_ASSISTANT_TOKEN=
Environment=GEMINI_API_KEY=
Environment=XDG_RUNTIME_DIR=/run/user/1000

[Install]
WantedBy=multi-user.target